#img-home{
    height: 45vh;
}

.home--biography{
    width: 50vw;
}

.home--text{
    gap: 1rem;
}

.home--biography #home_text_one {
    margin-bottom: 4rem;
}
.home--biography #home_text_two {
    margin-bottom: 12rem;
    font-size: 1.4vw;
}

.button {
    width: 40rem;
    height: 6rem;
}

.produ-rec-mix{
    height: 80vh;
    margin-bottom: 14vh;
}

#spotify iframe{
    height: 75vh;
}

.sesiones, .sonoro{
    margin-bottom: 4vh;
}

h2, #contact--title h2 {
    margin-bottom: 8vh;
}

#a__link--contact{
    bottom: 7rem;
}

.contact--buttons {
    margin-bottom: 2vh;
}