:root {
    --white: #FFFFFF;
    --gray: #9D9D9D;
    --soft-gray: #DEDEDE;
    --soft-gray2: #959595;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth
}

body {
    background: #242323;
}

li{
    list-style: none;
  }

h1 {
    font-family: Unbounded;
    font-size: 7vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.36px;
}

h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    /* font-size: 2.5rem; */
    font-size: 6.5vw;
    font-style: normal;
    font-weight: 200;
    line-height: 2.3rem;
    letter-spacing: 0.6rem;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    min-width: 320px;   
}

h3 {
    /* font-size: 1.8rem; */
    font-size: 5vw;
    font-style: normal;
    font-weight: 200;
    line-height: 1.3161rem;
    letter-spacing: -0.165px;
    width: 100%;
    height: 21px;
    margin-left: 4px;
}

h4 {
    font-size: 5vw;
    font-style: normal;
    font-weight: 200;
    line-height: 1.3161rem;
    letter-spacing: -0.165px;
    width: 100%;
    height: 21px;
    margin-right: 1rem;
    text-align: right;
}

#sesiones--title h2{
    letter-spacing:  1.25px;
}

#sonoro--title h2{
    letter-spacing: 2.837px;
}

header {
    z-index: 20;  
    position: sticky; 
    top: 0;
  }
.header--title{
    display: flex;
    min-width: 240px;
    max-width: 900px;  
    width: 100%;  
    height: 100%;
    align-items: center; 
    /* margin: 0 auto; */
}
.header--title a{
    text-decoration: none;    
}
.header--title-container h1{
    text-decoration: none; 
    color: #FFF;   
}

.header--title-container #agesta{
    font-weight: 200;
}

.sub-header #productor {
    color: #FFF;
    font-family: Inter;
    font-size: 4vw;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.75px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nico-photo{ 
    height: 100%;
    width: 100%;
    z-index: 1;
    margin-top: 5rem;
}

#img-header{     
    z-index: 1;  
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.home{
    display: none;
}
.produ-rec-mix{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 51.8rem;
    width: 100%;
    background-image: url(/assets/imgs/mobile/prod_rec_mix.avif );
    background-size: cover;
    background-position: center;
    margin-bottom: 8.8rem;
}

#spotify{
    position: relative;   
}

#spotify iframe{
    box-shadow: 0px 0px 3px 0px rgba(114, 114, 114, 0.268);
    width: 85vw;    
}

.sesiones, .sonoro{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    min-width: 288px; 
    align-items: center; 
}

.content-div{
    width: 100%;
    margin-bottom: 2.4rem;
}

#video-hausi{
    margin-bottom: 0;
}

.content-div video{
    width: 100%;
    object-fit: cover;  
}

.content-div iframe{
    width: 100%;
    height: 35vh;
    border-radius: 0.5rem;   
}

.sesiones--info{
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: -0.5px;  
}

.sesiones--content, .sonoro--content, .sonoro--content > .sesiones-info{
    text-align: left;
    width: 90%;
}

.sonoro--info {
    color: white;
    font-family: Inter;
    font-size: 5vw;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 0.4rem;
}

.sonoro--info p:nth-child(2){
    font-family: Inter;
    font-size: 5vw;
    font-style: normal;
    font-weight: 200;
    line-height: 2rem;
    color:#959595; 
}

#video-LCDYNE2, .sonoro--content{
    margin-bottom: 6rem;
}

#text-dos95{
    text-align: right;
}

.biography {
    background-image: url(/assets/imgs/mobile/micro-cel.avif);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 51rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.biography--info{
    color: white;
    width: 80%;
    height: auto;    
    text-align: justify;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 200;
    line-height: 3rem; 
    letter-spacing: 0.4px;
    margin: auto;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact--title h2{
    color: #DEDEDE;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: -0.5px;
}

#contact--title {
    margin-bottom: 0;
}

.contact--photo{
    display: none;
}

.contact--text {
    color: #959595;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 26px;
    width: 90%;
}

.button {
    display: block;
    padding: 16px;
    width: 289px;
    height: 54px;
    background-color: var(--gray);
    /*Sombras*/
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.16);
    border-radius: 4px;
    /*Texto*/
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 200;
    color: white;
    text-align: center;
}

.button span{
    margin-right: 16px;
}

.contact--buttons{
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    height: 18rem;
    justify-content: space-around;
    margin-bottom: 4rem;
}
#contact--button--wpp, #contact--button--mail {
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact--button--wpp span{
    background-image: url(/assets/icons/wpp\ white.svg);
    background-position: 50%;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

#contact--button--mail span{
    background-image: url(/assets/icons/msg_white.svg);
    background-position: 50%;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.contact--content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact--icons{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.a--link{
    position: relative;
    bottom: 7rem;
}



@media(min-width: 600px){
    h1{
        font-size: 3.4rem;
    }

    h2, #contact--title h2{
        font-size: 3rem;  
    }

    h3{
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2.5rem;
    }

    .sub-header #productor {
        font-size: 1.7rem;
    }

    .sonoro--info{
        font-size: 2.4rem;
    }

    .sonoro--info p:nth-child(2){
        font-size: 2.2rem;
    }

    .biography--info{
        font-size: 2.5rem;
    }
  }

@media(orientation: landscape),(min-width: 600px){
    .content-div iframe{
        width: 100%;
        height: 70vh;
        border-radius: 0.5rem;   
    }

    .nico-photo{
        margin-top: 0;
    }

    #spotify iframe{
        width: 70vw;
    }
    .biography{
        width: 50vw;
    }

    .biography--info{
        font-size: 2.2vw;
    }
    .contact--content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contact--icons{
        width: 50%;
    }

    #nav-item1{
        margin-top: 5vh
      }
      #nav-item6{
        margin-bottom: 30vh;
      }
}
  